DB_HOST=''
DB_USER=''
DB_PASSWORD=''
DB_DATABASE='patient_doctor_management_system'
PORT = 3001
CLOUD_NAME = '' 
CLOUDINARY_KEY = '' 
CLOUDINARY_SECRET = ''
BREVO_API_KEY=''
DOC_SET_PASS_SECRET = ""
JWT_SECRET = ""

# Stripe Keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
